@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #E2E7EB */
  background: #333333
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.t05{
  transition: all .5s;
}
.clipPath{
  clipPath: polygon(0 0, 91% 0, 100% 100%, 6% 100%);
}
.aboutw{
  background-image: url('./../public/about/headerQ.png');
  background-size: cover;
}
.aboutExp{
  background-image: url('./../public/about/gradiant.png');
  background-size: cover;
}
.bg1{
  background: radial-gradient(49.47% 56.06% at 50% 50%, rgba(112, 221, 244, 0.32) 0%, rgba(51, 51, 51, 0.32) 100%);
  padding: 5vh 0;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #131B22;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b62b8;
}


.hexagon {
  @apply relative w-28 h-28 mx-auto;
  clipPath: polygon(0 26%, 48% 0, 100% 26%, 100% 73%, 49% 100%, 0 71%);
  background-color: #b40000;
  position: relative;
}

.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  width: 10px; /* Size of the rounded corners */
  height: 10px;
  background-color: #891313;
  border-radius: 50%;
}

/* Top-left corner */
.hexagon::before {
  top: 0;
  left: calc(48% - 5px); /* Adjust to center */
}

/* Top-right corner */
.hexagon::after {
  top: 0;
  right: calc(48% - 5px); 
}
